.containerView{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90.9vh;
}

#tabContainer{
    height: 65.2vh;
    width: 43.2vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    margin-left: 7.8vw;
    position: relative;
}

#activeTab{
    position: absolute;
    top: 0%;
    margin: auto;
    margin-top: 0%;
    width: 43.2vh;
    height: 43.2vh;
    border-radius: 100%;
    background-color: #595959;
}

#inactiveTab{
    margin: auto;
    margin-top: 36.38vh;
    width: 28.77vh;
    height: 28.77vh;
    border-radius: 100%;
    background-color: #595959;
}

.cardBox {
    width: 13rem;
    height: 50px;
    background-color: #FFFFFF;
    margin: auto;
    border-style: solid;
    border-radius: 8px;
    border-width: 4px;
    border-color: #31C4F3;
    z-index: 1;
}
.overlayBox {
    width: 13rem;
    height: 50px;
    background-color: #FFFFFF;
    margin: auto;
    z-index: 10;
    border-radius: 8px;
    border-width: 4px;
    opacity: 0.8;
    position: absolute;
    top: 0%;
}



#cardFont {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
}

#addIcon{
    cursor: pointer;
    margin: auto;
    color: rgba(255, 255, 255, 0.5)

}
#moreIcon {
    color: #31C4F3;
    padding-top: 8px;
    transform: translate(0px, 1px);
    cursor: pointer;
    display: none;
}

.cardBox:hover > #moreIcon {
    display: block;
}

#formBox {
    width: 13rem;
    height: 80px;
    background-color: #ffff;
    margin-left: 10rem;
    border-radius: 8px;
    padding-top: 3px;
}

#inputBox {
    width: 12.5rem;
    height: 40px;
    background-color: #bcbcbc;
    border-radius: 8px;
    text-align: center;
}

#newCardButton {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}