.containerView{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90.9vh;
}

#tabContainer{
    height: 65.2vh;
    width: 43.2vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    margin-left: 7.8vw;
    position: relative;
}

#activeTabBox{
    position: absolute;
    top: 0%;
    width: 30vw;
    height: 43.2vh;
}

#activeTab{
    position: absolute;
    top: 0%;
    margin: auto;
    margin-top: 0%;
    width: 43.2vh;
    height: 43.2vh;
    border-radius: 100%;
    background-color: #444444;
    box-shadow: 0px 3vh 7vh rgba(0,0,0,0.7);
}

#activeText{
    position: absolute;
    top: -13%;
    width: 100%;
    text-align: center;
    color: #444444;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 6.1vh;
}

#activeTabSlogan{
    height: 43.2vh;
    width: 40vh;
    margin-top: 18vh;
    margin-left: 45vh;
}

.tabSlogan{
    color: #444444;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 3vh;
}

#smaller{
    font-size: 2.1vh;
}

#innerActive{
    margin: auto;
    margin-top: 1.6vh;
    width: 40vh;
    height: 40vh; 
    background-color: #FFFFFF;
    border-radius: 100%;
    border: 1.6vh solid #31c4F3;
}

#inactiveTab{
    margin: auto;
    margin-top: 36.38vh;
    width: 28.77vh;
    height: 28.77vh;
    border-radius: 100%;
    background-color: #595959;
}

#inactiveText{
    margin-top: 0vh;
    width: 100%;
    text-align: center;
    color: #444444;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 3vh;
}

#hacking{
    height: 1.6vh;
    width: 1.6vh;
}

#innerInactive{
    margin: auto;
    width: 25.57vh;
    height: 25.57vh; 
    background-color: #DFDFDF;
    border-radius: 100%;
    border: 1.6vh solid rgb(108, 213, 248);
    position: relative;
}

#graphics{
    width: 80%;
    height: 80%;
    margin: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-image: url('taskTab.png');
    background-image: url('userTab.png');
}

#tabOverlay{
    position: absolute;
    top: 0%;
    margin-top: 36.38vh;
    background-color: rgba(0,0,0,0.6);
    border-radius: 100%;
    width: 28.77vh;
    height: 28.77vh;
}

.cardBox {
    position: relative;
    width: 28vh;
    height: 6vh;
    background-color: #FFFFFF;
    margin: auto;
    border-style: solid;
    border-radius: 8px;
    border-width: 0.8vh;
    border-color: #31C4F3;
    z-index: 1;
    box-shadow: 0px 0.5vh 1vh rgba(0,0,0,0.8);
}
.overlayBox {
    width: 100%;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.9);
    margin: auto;
    z-index: 10;
    border-radius: 8px;
    opacity: 0.9;
    position: absolute;
    top: 0%;
}


#cardFont {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 2.7vh;
    line-height: 4.5vh;
    text-align: center;
    color: #444444;
}

.nameSize{
    width: 100%;
}

#addIcon{
    cursor: pointer;
    margin: auto;
    color: rgba(255, 255, 255, 0.5)

}
#moreIcon {
    color: #31C4F3;
    padding-top: auto;
    transform: translate(0px, 1px);
    cursor: pointer;
    display: none;
    position: absolute;
    margin-left: 81%;
}

#closeIcon {
    color: #8b8b8b;
    font-size: 3.8vh;
    cursor: pointer;
}

#editIcon{
    cursor: pointer;
}

#deleteIcon {
    cursor: pointer;
    color: rgba(0,0,0,10);
}

.cardBox:hover > #moreIcon {
    display: block;
}

#formBox {
    width: 28vh;
    height: 10.5vh;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding-top: 3px;
}

#taskForm {
    background-color: #ffff;
    margin-left: 10rem;
    border-radius: 8px;
    padding-top: 3px;
}

#inputBox {
    width: 27vh;
    height: 5.2vh;
    background-color: #bcbcbc;
    border-radius: 8px;
    text-align: center;
    font-size: 2.5vh;
}

.newCardButton {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 3vh;
    max-width: 50%;
    margin: auto;
}

.material-icons{
    font-size: 3.8vh;
}

.paddingStyle{
    padding-top: 0;
    padding-bottom: 0;
}