.containerView{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90.9vh;
}

#maxSize{
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}

#tabContainer{
    height: 65.2vh;
    width: 43.2vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    margin-left: 7.8vw;
    position: relative;
}

#activeTabBox{
    position: absolute;
    top: 0%;
    width: 30vw;
    height: 43.2vh;
}

#activeTab{
    position: absolute;
    top: 0%;
    margin: auto;
    margin-top: 0%;
    width: 43.2vh;
    height: 43.2vh;
    border-radius: 100%;
    background-color: #444444;
    box-shadow: 0px 3vh 7vh rgba(0,0,0,0.7);
}

#activeText{
    position: absolute;
    top: -13%;
    width: 100%;
    text-align: center;
    color: #444444;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 6.1vh;
}

#activeTabSlogan{
    height: 43.2vh;
    width: 40vh;
    margin-top: 18vh;
    margin-left: 45vh;
}

.tabSlogan{
    color: #444444;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 3vh;
}

#smaller{
    font-size: 2.1vh;
}

#innerActive{
    margin: auto;
    margin-top: 1.6vh;
    width: 40vh;
    height: 40vh; 
    background-color: #FFFFFF;
    border-radius: 100%;
    border: 1.6vh solid #31c4F3;
}

#inactiveTab{
    margin: auto;
    margin-top: 36.38vh;
    width: 28.77vh;
    height: 28.77vh;
    border-radius: 100%;
    background-color: #595959;
}

#inactiveText{
    margin-top: 0vh;
    width: 100%;
    text-align: center;
    color: #444444;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 3vh;
}

#hacking{
    height: 1.6vh;
    width: 1.6vh;
}

#innerInactive{
    margin: auto;
    width: 25.57vh;
    height: 25.57vh; 
    background-color: #DFDFDF;
    border-radius: 100%;
    border: 1.6vh solid rgb(108, 213, 248);
    position: relative;
}

#graphics{
    width: 80%;
    height: 80%;
    margin: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    background-image: url('taskTab.png');
    background-image: url('userTab.png');
}

#tabOverlay{
    position: absolute;
    top: 0%;
    margin-top: 36.38vh;
    background-color: rgba(0,0,0,0.6);
    border-radius: 100%;
    width: 28.77vh;
    height: 28.77vh;
}

#nameList{
    width: 55vh;
    padding: 0;
    margin-left: 50vh;
    align-items: center;
}

.cardBox {
    position: relative;
    width: 28vh;
    height: 6vh;
    background-color: #FFFFFF;
    margin: auto;
    border-style: solid;
    border-radius: 8px;
    border-width: 0.8vh;
    border-color: #31C4F3;
    z-index: 1;
    box-shadow: 0px 0.5vh 1vh rgba(0,0,0,0.8);
}
.overlayBox {
    width: 100%;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.9);
    margin: auto;
    z-index: 10;
    border-radius: 8px;
    opacity: 0.9;
    position: absolute;
    top: 0%;
}


#cardFont {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 2.7vh;
    line-height: 4.5vh;
    text-align: center;
    color: #444444;
}

.boxSize{
    max-width: 50%;
}

.nameSize{
    width: 100%;
}

#addIcon{
    cursor: pointer;
    margin: auto;
    color: rgba(255, 255, 255, 0.5)

}
#moreIcon {
    color: #31C4F3;
    padding-top: auto;
    transform: translate(0px, 1px);
    cursor: pointer;
    display: none;
    position: absolute;
    margin-left: 87%;
}

#tMoreIcon {
    color: #31C4F3;
    padding-top: auto;
    transform: translate(0px, 1px);
    cursor: pointer;
    display: none;
    position: absolute;
    margin-left: 89%;
}

#closeIcon {
    color: #8b8b8b;
    font-size: 3.8vh;
    cursor: pointer;
}

#editIcon{
    cursor: pointer;
}

#deleteIcon {
    cursor: pointer;
    color: rgba(0,0,0,10);
}

.cardBox:hover > #moreIcon {
    display: block;
}
.cardBox:hover > #tMoreIcon {
    display: block;
}

#formBox {
    width: 28vh;
    height: 9.5vh;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding-top: 0.8vh;
}

#taskForm {
    background-color: #FFFFFF;
    margin-left: 10rem;
    border-radius: 8px;
    padding-top: 3px;
    width: 92%;
    margin-bottom: 3vh;
}

#inputBox {
    width: 27vh;
    height: 5.2vh;
    background-color: #bcbcbc;
    border-radius: 8px;
    text-align: center;
    font-size: 2.5vh;
}

::-webkit-input-placeholder {
    color:red;
}

::-moz-placeholder {
    color:red;
}

::-ms-placeholder {
    color:red;
}

::placeholder {
    color:red;
}

.newCardButton {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 3vh;
    max-width: 50%;
    margin: auto;
}

.material-icons{
    font-size: 3.8vh;
}

.paddingStyle{
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (max-aspect-ratio: 1063/634) {
    #nameList{
        margin-left: 34.5vh;
    }
}

@media only screen and (max-aspect-ratio: 1019/684) {
    
    .tabSlogan{
        width: 0px;
        font-size: 0px;
    }

    .tabSlogan[style]{
        font-size: 0px !important;
    }

    #activeTabSlogan{
        width: 0px;
        height: 0px;
    }


    #nameList{
        margin-left: 34.5vh;
    }

    #tabContainer{
        height: 55vw;
        width: 100%;
        margin: 0;
        margin: 1vh;
    }

    .containerView{
        flex-direction: column;
    }

    #inactiveTab, #tabOverlay{
        margin-top: 5vh;
        width: 30vw;
        height: 30vw;
    }

    #inactiveTab{
        margin-left: 51vw;
    }

    #innerInactive{
        width: 25vw;
        height: 25vw;
        border-width: 2.5vw;
    }

    #hacking{
        height: 2.5vw;
        width: 2.5vw;
    }

    #inactiveText{
        margin-left: 50vw;
        width: 30vw;
        font-size: 5vw;
    }

    #nameList{
        Margin-left: 0px;
    }

    #activeTab{
        width: 45vw;
        height: 45vw;
        margin-left: 10vw;
    }

    #innerActive{
        width: 39vw;
        height: 39vw;
        margin-top: 3vw;
    }

    #activeText{
        top: 45vw;
        width: 45vw;
        font-size: 9vw;
        margin-left: 10vw;
    }

    #maxSize{
        height: 55vh;
        margin-top: 1vh;
    }

    @media only screen and (max-aspect-ratio: 1042/699){

        #logo{
            height: 5vw;
        }    

        .tabSlogan{
            width: 0px;
            font-size: 0px;
        }
    
        .tabSlogan[style]{
            font-size: 0px !important;
        }
    
        #activeTabSlogan{
            width: 0px;
            height: 0px;
        }
    
    
        #nameList{
            margin-left: 34.5vh;
        }
    
        #tabContainer{
            height: 55vw;
            width: 80%;
            margin: 0;
            margin: 1vh;
            margin-left: auto;
            margin-right: auto;
        }
    
        .containerView{
            flex-direction: column;
        }
    
        #inactiveTab, #tabOverlay{
            margin-top: 5vh;
            width: 20vw;
            height: 20vw;
        }
    
        #inactiveTab{
            margin-left: 38vw;
        }
    
        #innerInactive{
            width: 15vw;
            height: 15vw;
            border-width: 2.5vw;
        }
    
        #hacking{
            height: 2.5vw;
            width: 2.5vw;
        }
    
        #inactiveText{
            margin-left: 38vw;
            width: 20vw;
            font-size: 3.5vw;
        }
    
        #nameList{
            Margin-left: 0px;
        }
    
        #activeTab{
            width: 30vw;
            height: 30vw;
            margin-left: 10vw;
        }
    
        #innerActive{
            width: 25vw;
            height: 25vw;
            margin-top: 2.5vw;
        }
    
        #activeText{
            top: 30vw;
            width: 30vw;
            font-size: 6vw;
            margin-left: 10vw;
        }
    
        #maxSize{
            height: 55vh;
            margin-top: 1vh;
        }        

        
    }

    @media only screen and (max-aspect-ratio: 810/1237){
        .tabSlogan{
            width: 0px;
            font-size: 0px;
        }
    
        .tabSlogan[style]{
            font-size: 0px !important;
        }
    
        #activeTabSlogan{
            width: 0px;
            height: 0px;
        }
    
    
        #nameList{
            margin-left: 34.5vh;
        }
    
        #tabContainer{
            height: 55vw;
            width: 100%;
            margin: 0;
            margin: 1vh;
        }
    
        .containerView{
            flex-direction: column;
        }
    
        #inactiveTab, #tabOverlay{
            margin-top: 5vh;
            width: 30vw;
            height: 30vw;
        }
    
        #inactiveTab{
            margin-left: 51vw;
        }
    
        #innerInactive{
            width: 25vw;
            height: 25vw;
            border-width: 2.5vw;
        }
    
        #hacking{
            height: 2.5vw;
            width: 2.5vw;
        }
    
        #inactiveText{
            margin-left: 50vw;
            width: 30vw;
            font-size: 5vw;
        }
    
        #nameList{
            Margin-left: 0px;
        }
    
        #activeTab{
            width: 45vw;
            height: 45vw;
            margin-left: 10vw;
        }
    
        #innerActive{
            width: 39vw;
            height: 39vw;
        }
    
        #activeText{
            top: 45vw;
            width: 45vw;
            font-size: 9vw;
            margin-left: 10vw;
        }
    
        #maxSize{
            height: 55vh;
            margin-top: 1vh;
        }
    }
}   